<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <input matInput 
          type="number" 
          [min]="minimo" 
          [max]="maximo" 
          [step]="step" 
          [placeholder]="titulo" 
          [name]="controlName"
          [formControlName]="controlName">
    <mat-error *ngIf="validacao.hasErrorValidar (formControl, 'required')">
      Campo Obrigatório
    </mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar (formControl, 'min')">
      Campo Precisa ter no Mínimo o Valor {{validacao.lengthValidar(formControl, 'min')}}
    </mat-error>
    <mat-error *ngIf="validacao.hasErrorValidar (formControl, 'max')">
      Campo Pode ter no Máximo o Valor {{validacao.lengthValidar(formControl, 'max')}}
    </mat-error>
  </mat-form-field>
</div>